<h1>Productos en tiempo real</h1>

<div id="containerProducts"></div>
<div class="containerForm">
    <h2>agregar Productos</h2>
    <form class="formulario">
        <input type="text" id="title"      placeholder="nombre" >
        <input type="text" id="description"placeholder="descripcion">
        <input type="number" id=" price"placeholder="precio">
        <input type="text" id="image"value="sin imagen">
        <input type="text" id="code"placeholder="codigo">
        <input type="number" id="stock"placeholder="stock">
        <input type="text" id="category"placeholder="categoria">
        <select id="status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
        </select>
        <button type="button" id="btnEnviar">buscar</button>
    </form>
    </div>



<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
<script src="js/index.js"></script>